.landing .badge .badge-title {
    text-shadow: 0px 5px 15px #4928db8c;
}
.landing .hire-me .hire-me-btn {
    transition: 0.2s ease-in-out;
    box-shadow: 0 5px 10px #4123c6aa;
}
.landing .hire-me .hire-me-btn:hover {
    box-shadow: 0 0 20px #4123c6;
}
.landing .btn-group .cv a {
    transition: 0.2s ease-in-out;
}
.landing .btn-group .cv a:hover {
    background-color: #4123c6;
    color: white;
    font-weight: bold;
}
.landing .animation-bounce {
    animation: bounce 4s linear infinite;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}
@media (max-width: 1056px) {
    .landing {
        flex-direction: column-reverse;
    }
    .landing img {
        width: 100%;
        margin-bottom: 20px;
    }
    .landing .landing-text {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .landing img {
        height: 250px;
    }
    .landing {
        padding: 2rem 0.5rem !important;
    }
    .landing .landing-text {
        padding: 0 1rem
    .landing .landing-text .title {
        font-size: 28px;
    } 
    .landing .landing-text .badge {
        font-size: 24px;
    }
    .landing .btn-group {
        margin-bottom: 20px;
    }
    .landing .btn-group button a {
        padding: 0.75rem 18px;
    }
    .landing .btn-group button:first-child a {
        margin-right: 20px;
    }
}
