.about .about-content .contact-us-btn a {
    transition: 0.2s ease-in-out;
}
.about .about-content .contact-us-btn a:hover {
    background-color: #4123c6;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 15px #4123c6a6;;
}
@media (max-width: 990px) {
    .about .about-content {
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: center;
    }
    .about .about-content img {
        margin-right: 0;
        height: 300px;
    }
}